<div class="wrapper">

  <!-- page toolbar -->
  <dx-toolbar>
    <dxi-item location="after" widget="dxButton" locateInMenu="auto" [options]="masterSearchBtn">
    </dxi-item>
  </dx-toolbar>
  <!-- page toolbar end -->

  <!-- accordian  -->
  <ng-container>
    <dx-accordion [collapsible]="true" [animationDuration]="300" [selectedIndex]="0" [multiple]="true">
      <dxi-item title="SearchInput">
        <wms-rcv-search-input 
        [VO]="RCVFORM"
        [RCVSTA]="RCVSTA_COMBO" 
        [RCVTYP]="RCVTYP_COMBO"></wms-rcv-search-input>
      </dxi-item>
      <dxi-item title="SearchInputSub">
        <wms-rcv-search-input-sub 
        [VO]="RCVSUBFORM"
        [MALLID]="MALLID_COMBO"></wms-rcv-search-input-sub>
      </dxi-item>
    </dx-accordion>
  </ng-container>
  <!-- accordian end -->

  <!-- tab panel -->
  <dx-tab-panel height="auto" [selectedIndex]="0" [loop]="true" [animationEnabled]="true"
    [swipeEnabled]="true">
    <dxi-item title="테스트 그리드">
      <wms-master-grid [gridData]="masterGridData" (gridEventEmitter)="onMasterGridEvent($event)"></wms-master-grid>
    </dxi-item>
  </dx-tab-panel>
  <!-- tab panel end-->

  <!-- action -->
  <dx-action-sheet 
      id="actionSheet"
      title="actionSheetTitle"
      cancelText = "Save All"
      height="80%" 
      [showTitle]="true" 
      [showCancelButton]="true"
      [(visible)]="actionVisible"
      [dataSource]="actionSheetData"
      (onCancelClick)="onCancelClick($event)"
      >
    
    <ng-container *dxTemplate="let data of 'content'">
      <dx-scroll-view [scrollByContent]="true" [scrollByThumb]="true" height="80%" style="padding-bottom:10px">
        
        <!-- save master -->
        <dx-toolbar>
          <dxi-item location="after" widget="dxButton" locateInMenu="auto" [options]="masterSaveBtn">
          </dxi-item>
        </dx-toolbar>
        <!-- save master -->
        
        <!-- selected master data -->
        <dx-tab-panel #detailFormTabPanel height="auto" [selectedIndex]="0" [loop]="true" [animationEnabled]="true"
          [swipeEnabled]="true">
          <dxi-item title="Header Editor">
            <wms-rcv-detail-search-input [VO]="RCVDETAILFORM"></wms-rcv-detail-search-input>
          </dxi-item>
        </dx-tab-panel>
        <!-- selected master data-->

        <!-- detailgrid -->
        <wms-detail-grid [gridData]="detailGridData" (gridEventEmitter)="onDetailGridEvent($event)"></wms-detail-grid>
        <!-- detailgrid -->
      </dx-scroll-view>
    </ng-container>
  </dx-action-sheet>
</div>
