<dx-data-grid 
  #masterGrid 
  [dataSource]="dataSource" 
  id="masterGrid"
  height="400px"
  [showBorders]="true" 
  [focusedRowEnabled]="true"
  keyExpr="uid" 
  (onRowDblClick)="emitEvent($event,'RowDblClick')"
  (onInitNewRow)="emitEvent($event,'InitNewRow')"
  (onRowInserting)="emitEvent($event,'RowInserting')"
  (onRowInserted)="emitEvent($event,'RowInserted')"
  (onRowRemoving)="emitEvent($event,'RowRemoving')"
  (onRowRemoved)="emitEvent($event,'RowRemoved')"
  (onExporting)="onExporting($event)">

  <dxo-selection mode="single"></dxo-selection>

  <dxo-editing 
    mode="row"
    [allowDeleting]="true"
    [allowAdding]="true">
    <dxo-texts 
      [deleteRow]="deleteText"
      [confirmDeleteMessage]="deleteMessage">
    </dxo-texts>
  </dxo-editing>

  <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
  
  <dxo-column-fixing [enabled]="true"></dxo-column-fixing>

  <ng-container *ngFor="let col of config; i as index">
    <dxi-column 
      [caption]="col.caption" 
      [dataField]="col.dataField" 
      [width]="col.width" 
      [fixed]="col.fixed"
      alignment="center">
    </dxi-column>
  </ng-container>

</dx-data-grid>
